<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Options</li>
              <li><a href="http://localhost:3000/issues">Issues</a></li>
              <li><a href="http://localhost:3000/publishers">Publishers</a></li>
              <li><a href="http://localhost:3000/sellers">Sellers</a></li>
              <li><a href="http://localhost:3000/countries">Countries</a></li>
            </ul>
</div><!--/.well -->

